<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">

<div class ="topnav">
        {% if current_user.permission_group and "PE" in current_user.permission_group %}
        <a href="{{ url_for('process_editor')}}">Process Editor</a>
        {% endif %}
        {% if current_user.permission_group and "PS" in current_user.permission_group %}
        <a href="{{ url_for('process_status')}}">Process Status</a>
        {% endif %}
        {% if current_user.permission_group and "DBV" in current_user.permission_group %}
        <a href="{{ url_for('database_viewer')}}">Database Viewer</a>
        {% endif %}
        {% if current_user.permission_group and "INV" in current_user.permission_group %}
        <a href="{{ url_for('inventory')}}">Inventory</a>
        {% endif %}
        <a href="{{ url_for('about')}}">About</a>
        {% if current_user.permission_group and "HWS" in current_user.permission_group %}
        <a href="{{ url_for('hardware_setup')}}">Hardware Setup</a>
        {% endif %}
        {% if current_user.permission_group and "SALE" in current_user.permission_group %}
        <a href="{{ url_for('sales_management')}}">Sales</a>
        {% endif %}
        {% if current_user.permission_group and "DELI" in current_user.permission_group %}
        <a href="{{ url_for('deliveries')}}">Deliveries</a>
        {% endif %}
        {% if current_user.permission_group and "USRADM" in current_user.permission_group %}
        <a href="{{ url_for('user_administration')}}">Users</a>
        {% endif %}
        
        {% if not current_user.is_authenticated %}
            <a href="{{ url_for('ADAM_login')}}">Login</a>
        {% else %}
            <a href="{{ url_for('user_profile')}}">Profile</a>
            <a href="{{ url_for('logout')}}">Logout</a>
        {% endif %}
</div>

<section class="header">
        {% include 'header.html' %}
</section>
        
<section class="content">

    {% block content %}
    {{content}}
    {% endblock %}
</section>
