{% extends "base.html" %}

{% block title %} {{title}} {% endblock %}

{% block content %}

<h1>Change Password</h1>
<form action="", method="post">
{{ form.hidden_tag() }}
<br><p><b>Passwords must be at least 8 characters long and must at least contain:<br>
one special character, one number, and one lower and upper case Character each.</b></p>
<p>{{form.newpassword.label}}<br>
{{form.newpassword}}<br>
</p>

<p>{{form.repeatpassword.label}}<br>
{{form.repeatpassword}}<br></p>

{% for error in form.newpassword.errors %}
{{ error }}
{% endfor %}
<p>{{form.submit()}}</p>


</form>
{% endblock %}

