{% extends "base.html" %}



{% block content %}
<script src="{{url_for('static', filename='drawflow.min.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='drawflow_theme_dark.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='process_editor.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='drawflow.min.css')}}") />

<div id="body">
  <div class="wrapper">
    <div class="col">
        
        <!-- Instead of passing insecure html into this layout:
        Tuple -> Contains Multiple Elements -> Each element contains a list of arguments -> pass arguments through Jinja2
        like <div ... data-node=%%data_node[8][0]%%></div> -->
        <!-- % for i in process_icon_elements % -->

        <div class ="item_grid">
       		<div class="drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="heated_vessel">
            	<img draggable="false" src='/static/themes/craftbeerpi-ui-widgets/Einkocher.svg' height="60px">
            	<i class="fab pc-heated_vessel"></i>            	
     		</div>
        <!-- % endfor % -->
      		<div class="drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="dumb_pump">
        		<img draggable="false" src='/static/themes/craftbeerpi-ui-widgets/P_gradi_3.svg' height="60px">
        		<i class="fab pc-dumb_pump"></i>
      		</div>

      		<div class="drag-drawflow" draggable="true" ondragstart="drag(event)" data-node="ZKG">
      			<img draggable="false" src='/static/themes/craftbeerpi-ui-widgets/120L_ZKG.svg' height="60px">
      			<i class="fab pc-zkg"></i>
      		</div> 
      	</div>
      
    </div>
    <div class="col-right">
    
      <div id="drawflow" ondrop="drop(event)" ondragover="allowDrop(event)">

        <div class="btn-export" onclick="console.log(editor.export())">Export</div>
        <div class="btn-clear" onclick="editor.clearModuleSelected()">Clear</div>
        <div class="btn-hide-cheat">
            <div   class="cs_shown" onclick="hideCheat('show')" id="cs_shown">CHEATSHEET</div>
            <div   class="cs_hidden" onclick="hideCheat('hide')" id="cs_hidden" style="display:none" >HIDE</div>
        </div>
        <div class="btn-lock">
          <img id="lock" class="procedit_locked" onclick="editor.editor_mode='fixed'; changeMode('lock');"  src="{{url_for('static', filename='unlocked-svgrepo-com.svg')}}"/>
          <img id="unlock" class="procedit_unlocked" onclick="editor.editor_mode='edit'; changeMode('unlock');" style="display:none;" src="{{url_for('static', filename='locked-svgrepo-com.svg')}}"/>
        </div>
        
        <div class="Help" id="cheat" style="display:none">Cheatsheet:
            <ul>
                <li>Press Delete to remove node</li>
                <li>Pull from left column to editor to create node</li>
                <li>Clear removes everything</li>
                <li>Export exports to JSON</li>
                <li>Inputs are left</li>
                <li>Outputs are right</li>
                <li>Double-click to add new routing point (buggy)</li>
            </ul>
        </div>
        <div class="bar-zoom">
          <img class="procedit_zoomout" onclick="editor.zoom_out()" src="{{url_for('static', filename='zoom-out-svgrepo-com.svg')}}"/>
          <img class="procedit_zoomreset" onclick="editor.zoom_reset()" src="{{url_for('static', filename='compass-svgrepo-com.svg')}}"/>
          <img class="procedit_zoomin" onclick="editor.zoom_in()" src="{{url_for('static', filename='zoom-in-svgrepo-com.svg')}}"/>
        </div>
      </div>
    </div>
  </div>

    <script>
    // Shamelessly stolen
    var id = document.getElementById("drawflow");
    const editor = new Drawflow(id);
    editor.reroute = false;
    editor.curvature = 0;
    editor.reroute_fix_curvature = false;
    editor.force_first_input = true;

  /*
    editor.createCurvature = function(start_pos_x, start_pos_y, end_pos_x, end_pos_y, curvature_value, type) {
      var center_x = ((end_pos_x - start_pos_x)/2)+start_pos_x;
      return ' M ' + start_pos_x + ' ' + start_pos_y + ' L '+ center_x +' ' +  start_pos_y  + ' L ' + center_x + ' ' +  end_pos_y  + ' L ' + end_pos_x + ' ' + end_pos_y;
    }*/



    

    editor.start();

    // Events!
    editor.on('nodeCreated', function(id) {
      console.log("Node created " + id);
    })

    editor.on('nodeRemoved', function(id) {
      console.log("Node removed " + id);
    })

    editor.on('nodeSelected', function(id) {
      console.log("Node selected " + id);
    })

    editor.on('moduleCreated', function(name) {
      console.log("Module Created " + name);
    })

    editor.on('moduleChanged', function(name) {
      console.log("Module Changed " + name);
    })

    editor.on('connectionCreated', function(connection) {
      console.log('Connection created');
      console.log(connection);
    })

    editor.on('connectionRemoved', function(connection) {
      console.log('Connection removed');
      console.log(connection);
    })
/*
    editor.on('mouseMove', function(position) {
      console.log('Position mouse x:' + position.x + ' y:'+ position.y);
    })
*/
    //editor.on('nodeMoved', function(id) {
    //  console.log("Node moved " + id);
    //})
    
    editor.on('nodeMoved', function(id) {
        // console.log("Node moved " + id);
        const module = editor.getModuleFromNodeId(id);
        const data = editor.getNodeFromId(id);
        const pos_x = data.pos_x;
        const pos_y = data.pos_y;

        
        // Fix position: //  Logic Here. 
        editor.drawflow.drawflow[module].data[id].pos_x = pos_x + 1;
        editor.drawflow.drawflow[module].data[id].pos_y = pos_y + 1;
        document.getElementById(`node-${id}`).style.left = (pos_x + 1) + "px";
        document.getElementById(`node-${id}`).style.top = (pos_y + 1) + "px";
        editor.updateConnectionNodes(`node-${id}`);
        console.log("Node moved " + id);
    })

    editor.on('zoom', function(zoom) {
      console.log('Zoom level ' + zoom);
    })

    editor.on('translate', function(position) {
      console.log('Translate x:' + position.x + ' y:'+ position.y);
    })

    editor.on('addReroute', function(id) {
      console.log("Reroute added " + id);
    })

    editor.on('removeReroute', function(id) {
      console.log("Reroute removed " + id);
    })
    /* DRAG EVENT */

    /* Mouse and Touch Actions */

    var elements = document.getElementsByClassName('drag-drawflow');
    for (var i = 0; i < elements.length; i++) {
      elements[i].addEventListener('touchend', drop, false);
      elements[i].addEventListener('touchmove', positionMobile, false);
      elements[i].addEventListener('touchstart', drag, false );
    }

    var mobile_item_selec = '';
    var mobile_last_move = null;
   function positionMobile(ev) {
     mobile_last_move = ev;
   }

   function allowDrop(ev) {
      ev.preventDefault();
    }

    function drag(ev) {
      if (ev.type === "touchstart") {
        mobile_item_selec = ev.target.closest(".drag-drawflow").getAttribute('data-node');
      } else {
      ev.dataTransfer.setData("node", ev.target.getAttribute('data-node'));
      }
    }
    function changeMode(option) {

    //console.log(lock.id);
      if(option == 'lock') {
        lock.style.display = 'none';
        unlock.style.display = 'block';
      } else {
        lock.style.display = 'block';
        unlock.style.display = 'none';
      }
  }
  
  function hideCheat(option) {
    if(option=='hide'){
        cs_shown.style.display="block";
        cs_hidden.style.display="none";
        cheat.style.display="none";
        
    }
    else {
        cs_shown.style.display="none";
        cs_hidden.style.display="block";
        cheat.style.display="block";
    }
    
    }
    
    
    function drop(ev) {
      if (ev.type === "touchend") {
        var parentdrawflow = document.elementFromPoint( mobile_last_move.touches[0].clientX, mobile_last_move.touches[0].clientY).closest("#drawflow");
        if(parentdrawflow != null) {
          addNodeToDrawFlow(mobile_item_selec, mobile_last_move.touches[0].clientX, mobile_last_move.touches[0].clientY);
        }
        mobile_item_selec = '';
      } else {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("node");
        addNodeToDrawFlow(data, ev.clientX, ev.clientY);
      }
      
          function addNodeToDrawFlow(name, pos_x, pos_y) {
      if(editor.editor_mode === 'fixed') {
        return false;
      }
      pos_x = pos_x * ( editor.precanvas.clientWidth / (editor.precanvas.clientWidth * editor.zoom)) - (editor.precanvas.getBoundingClientRect().x * ( editor.precanvas.clientWidth / (editor.precanvas.clientWidth * editor.zoom)));
      pos_y = pos_y * ( editor.precanvas.clientHeight / (editor.precanvas.clientHeight * editor.zoom)) - (editor.precanvas.getBoundingClientRect().y * ( editor.precanvas.clientHeight / (editor.precanvas.clientHeight * editor.zoom)));


      switch (name) {
        case 'heated_vessel':
         // editor.addNode('heated_vessel', 1,  2, pos_x, pos_y, 'heated_vessel', {}, heated_vessel );
         // Image draggble = False must be for it to function properly
         var heated_vessel = `
         	 <img draggable="false" src='/static/themes/craftbeerpi-ui-widgets/Einkocher.svg'>    
         	 <input type="int">
         `

         // name, inputs, outputs, pos_x, pos_y, class name, data, html or name of register node, typenode
         editor.addNode('heated_vessel', 1, 2, pos_x, pos_y, 'img', {}, heated_vessel);
          break;
        case 'dumb_pump':
          var dumb_pump = `
             <img draggable="false" src='/static/themes/craftbeerpi-ui-widgets/P_gradi_3.svg'>    
         	 <input type="int">
          `
          editor.addNode('dumb_pump', 1, 1, pos_x, pos_y, 'dumb_pump', {}, dumb_pump );
          break;
        case 'ZKG':
        var ZKG = `
        <div>
        	<div class="title-box"><i class="fab pc-zkg"></i></div>
        </div>`
        break;
//        default:
      }
    }

    }
        </script>
</div>
{% endblock %}
