.control_node {
    width: 20px;
    height: 20px;
}

.item_grid {
	margin: auto;
	display: grid; 
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0; 
	height: 50vh; 
	overflow-y: scroll; 
	margin-bottom: 10px; 
}

.item_grid img {
	width: 60px;
	height: 60px;
}

.pe_selector {
	padding-top: 10px;
	padding-bottom: 10px;
}

.pe_node {
	resize: both;
}
